<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>UsuarioControle</servlet-name>
        <servlet-class>Controle.UsuarioControle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Usuario</servlet-name>
        <servlet-class>Controle.Usuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>Controle.NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CategoriaControle</servlet-name>
        <servlet-class>Controle.CategoriaControle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProdutoControle</servlet-name>
        <servlet-class>Controle.ProdutoControle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CestaControle</servlet-name>
        <servlet-class>Controle.CestaControle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VendaControle</servlet-name>
        <servlet-class>Controle.VendaControle</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RelatorioDAO</servlet-name>
        <servlet-class>DAO.RelatorioDAO</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsuarioControle</servlet-name>
        <url-pattern>/UsuarioControle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Usuario</servlet-name>
        <url-pattern>/Usuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CategoriaControle</servlet-name>
        <url-pattern>/CategoriaControle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProdutoControle</servlet-name>
        <url-pattern>/ProdutoControle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CestaControle</servlet-name>
        <url-pattern>/CestaControle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VendaControle</servlet-name>
        <url-pattern>/VendaControle</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RelatorioDAO</servlet-name>
        <url-pattern>/RelatorioDAO</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
